<div class="container mt-3">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <form action="/answer">
    <input class="p-2 w-75" type="text" name="question">
    <input class="btn btn-primary btn-lg" type="submit" value="Ask!">
  </form>
</div>